@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');
* {
    font-family: "Afacad Flux", sans-serif;
}

body{
    margin-top: 100px;
    background-color: #A5B68D;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 350px;
    height: 350px;

    border: 16px solid;
    border-color: #DA8359;
    outline: 8px solid #698474;
    border-radius: 350px;
    background-color: #ECDFCC;

    
    box-shadow: 0px 15px 0px 10px rgba(145, 165, 118, 0.76);
    -webkit-box-shadow: 0px 15px 0px 10px rgba(145, 165, 118, 0.76);
    -moz-box-shadow: 0px 15px 0px 10px rgba(145, 165, 118, 0.76);
        
}

input {
    text-align: center;
    font-size: 600;

    width: 42px;
    height: 20px;
    border: none;
    border-radius: 15px;
    
    border: 2px solid rgb(197, 197, 197);
}

input:focus {
    outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


button {
    background: none;
    border: none;
    cursor: pointer;
}

#timer {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 100px;
    width: 250px;
    max-height: 100px;
    
    text-shadow: 0px 7.5px 1px #b9a382;

    margin-top: 50px;

    font-weight: 750;
}

#button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 230px;
    min-height: 45px;

    margin: 10px 0 10px 0 ;
}

#restart-button #restart{
    min-width: 25px;
    height: auto;
    transition: transform 0.5s;
}
#restart-button #restart:hover{
    transform: rotate(-360deg) scale(1.2);
}



#button-container svg {
    min-width: 30px;
    font-weight: 800;
    height: auto;
    filter: drop-shadow(0px 3px 1px #b9a382);

    transition: transform 0.3s;
}

#button-container svg:hover {
    transform: scale(1.2);
}

#popup-button svg{
    min-width: 25px;
    font-weight: 800;
    height: auto;
    filter: drop-shadow(0px 3px 1px #b9a382);

    transition: transform 0.3s;
}
#popup-button svg:hover {
    transform: rotate(60deg) scale(1.2);
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;

    border-radius: 10px;
    z-index: 10;
    background-color: #FCFAEE;
    width: 350px;
    max-width: 100%;
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}


.modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-header .title {
    font-size: 25px;
    font-weight: 800;
    letter-spacing: .1rem;
    text-shadow: 0px 2px 1px rgba(78, 78, 78, 0.432);

    display: flex;
    flex-direction: column;
}

.modal-header #afirm{
    font-size: 15px;
    font-weight: lighter;
    letter-spacing: .1rem;
    color: rgb(105, 104, 104);
    text-shadow: 0px 2px 1px rgba(78, 78, 78, 0.432);
}

.modal-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-body {
    display: flex;
    flex-direction: column;
    padding: 10px 30px 10px;
    text-align: right;
}

.modal-footer {
    border-top: rgb(197, 197, 197) solid 2px;
    display: flex;
    justify-content: end;
    padding: 15px 30px 15px;
}

#save {
    width: 50px;
    height: 30px;
    background-color: #9cc95d;
    border-radius: 10px;
    font-weight: bold;

    transition: transform 0.3s;
}

#save:hover{
    transform: scale(1.1);
}

#save:active{
    transform: scale(0.9)
}

#overlay {
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
    transition: transform 0.3s;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}

.timer-input {
    height: 26px;
    display: flex;
    padding: 10px 5px;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 15px;
}

.timer-input:nth-of-type(odd){
    background-color: #ECDFCC;
}

label {
    font-weight: 600;
    font-size: 20px;
}

